<%-include("partials/head")  %>
<link rel="stylesheet" href="/css/styles-body-wishlist.css" />
  </head>
  <body>
    <%-include("partials/header")%>

    <section id="body-main" class="section-wrapper">
      <div class="body-container">
        <div id="wishlist"></div>
      </div>
    </section>

    <script type="module" src="/js/body-wishlist.js"></script>

    <%-include("partials/footer")%>

   
 


